<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- header -->
    <main>
      <section class="l-top-content">
        <div class="p-top-content">
          <div class="p-top-content__title">
            <%- include('./parts/component/_c-section-title',{sectionTitle:'事業内容'}) %>
            <%- include('./parts/component/_c-sub-title',{subTitle:'content'}) %>
          </div>
          <div class="p-top-content__link-wrapper">
            <a href="#" class="p-top-content__link">
              <p class="p-top-content__link-title">経営理念ページへ</p>
              <img src="../images/content/content1.jpg" alt="">
            </a>
            <a href="#" class="p-top-content__link">
              <p class="p-top-content__link-title">理念1へ</p>
              <img src="../images/content/content2.jpg" alt="">
            </a>
            <a href="#" class="p-top-content__link">
              <p class="p-top-content__link-title">理念2へ</p>
              <img src="../images/content/content3.jpg" alt="">
            </a>
            <a href="#" class="p-top-content__link">
              <p class="p-top-content__link-title">理念3へ</p>
              <img src="../images/content/content4.jpg" alt="">
            </a>
          </div>
        </div>
      </section>
      <section class="l-top-works">
        <div class="p-top-works">
          <div class="l-inner">
            <div class="p-top-works__title">
              <%- include('./parts/component/_c-section-title',{sectionTitle:'制作実績'}) %>
              <%- include('./parts/component/_c-sub-title',{subTitle:'works'}) %>
            </div>
            <div class="p-top-works__content">
              <!-- Slider main container -->
              <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <figure class="p-swiper__img">
                      <img src="../images/top/top-slider-1.jpg" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure class="p-swiper__img">
                      <img src="../images/top/top-slider-2.jpg" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure class="p-swiper__img">
                      <img src="../images/top/top-slider-3.jpg" alt="">
                    </figure>
                  </div>
                </div>
                  <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
              </div>
              <div class="p-top-works__detail p-detail">
                <h4 class="p-detail__title">メインタイトルが入ります。</h4>
                <p class="p-detail__text">
                  テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                </p>
                <div class="p-detail__btn">
                  <%- include('./parts/component/_c-common-btn',{btnText:'詳しく見る', link:'#'}) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="l-top-overview">
        <div class="p-top-overview">
          <div class="l-inner">
            <div class="p-top-overview__title">
              <%- include('./parts/component/_c-section-title',{sectionTitle:'企業概要'}) %>
              <%- include('./parts/component/_c-sub-title',{subTitle:'overview'}) %>
            </div>
            <div class="p-top-overview__content">
              <!-- Slider main container -->
              <figure class="p-top-overview__img">
                <img src="../images/top/overview-img.jpg" alt="">
              </figure>
              <div class="p-top-overview__detail p-detail">
                <h4 class="p-detail__title">メインタイトルが入ります。</h4>
                <p class="p-detail__text">
                  テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                </p>
                <div class="p-detail__btn">
                  <%- include('./parts/component/_c-common-btn',{btnText:'詳しく見る', link:'#'}) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="l-top-blog">
          <div class="p-top-blog">
            <div class="l-inner">
              <div class="p-top-blog__title">
                <%- include('./parts/component/_c-section-title',{sectionTitle:'ブログ'}) %>
                <%- include('./parts/component/_c-sub-title',{subTitle:'blog'}) %>
              </div>
              <div class="p-top-blog__content">
                <ul class="p-cards">
                  <li class="p-cards__list">
                    <a href="#" class="p-card">
                      <figure class="p-card__img">
                        <img src="../images/blog/blog-img1.jpg" alt="">
                      </figure>
                      <div class="p-card__detail">
                        <h4 class="p-card__title">タイトルが入ります。タイトルが入ります。</h4>
                        <p class="p-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
                        <div class="p-card__meta">
                          <span class="p-card__category">カテゴリ</span>
                          <time class="p-card__time" datetime=”2021-7-20” itemprop=”modified”>2021.07.20</time>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="p-cards__list">
                    <a href="#" class="p-card">
                      <figure class="p-card__img">
                        <img src="../images/blog/blog-img2.jpg" alt="">
                      </figure>
                      <div class="p-card__detail">
                        <h4 class="p-card__title">タイトルが入ります。タイトルが入ります。</h4>
                        <p class="p-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
                        <div class="p-card__meta">
                          <span class="p-card__category">カテゴリ</span>
                          <time class="p-card__time" datetime=”2021-7-20” itemprop=”modified”>2021.07.20</time>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="p-cards__list">
                    <a href="#" class="p-card">
                      <figure class="p-card__img">
                        <img src="../images/blog/blog-img3.jpg" alt="">
                      </figure>
                      <div class="p-card__detail">
                        <h4 class="p-card__title">タイトルが入ります。タイトルが入ります。</h4>
                        <p class="p-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
                        <div class="p-card__meta">
                          <span class="p-card__category">カテゴリ</span>
                          <time class="p-card__time" datetime=”2021-7-20” itemprop=”modified”>2021.07.20</time>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="p-top-blog__btn">
                  <%- include('./parts/component/_c-common-btn',{btnText:'詳しく見る', link:'#'}) %>
                </div>
              </div>
            </div>
          </div>
        </section>
    </main>
    <footer class="l-footer">
      <div class="p-footer">
        <div class="l-footer__inner">
          <div class="p-footer__title">
            <%- include('./parts/component/_c-section-title',{sectionTitle:'お問い合わせ'}) %>
            <%- include('./parts/component/_c-sub-title',{subTitle:'contact'}) %>
          </div>
          <div class="p-footer__content">
            <div class="p-footer__contact">
              <div class="p-footer__text">
                <p class="c-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
              </div>
              <div class="p-footer__btn">
                <%- include('./parts/component/_c-common-btn',{btnText:'お問い合わせへ', link:'#'}) %>
              </div>
            </div>
            <div class="p-footer__navigation">
              <a href="./index.ejs" class="p-footer__img">
                <img src="../images/common/logo.svg" alt="">
              </a>
              <ul class="p-footer__lists">
                <li class="p-footer__list">
                  <a href="#">お知らせ</a>
                </li>
                <li class="p-footer__list">
                  <a href="#">事業内容</a>
                </li>
                <li class="p-footer__list">
                  <a href="#">制作実績</a>
                </li>
                <li class="p-footer__list">
                  <a href="#">企業概要</a>
                </li>
                <li class="p-footer__list">
                  <a href="#">自社メディア</a>
                </li>
                <li class="p-footer__list">
                  <a href="#">お問い合わせ</a>
                </li>
              </ul>
            </div>
            <div class="p-footer__small">
              <small>&copy; 2021 CodeUps Inc.</small>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer -->
  </body>
</html>
