<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- header -->
    <%- include('./common/_lower-header') %>
    <main>
      <section class="l-works-detail-header">
        <%- include('./parts/project/_p-production-detail-header') %>
      </section>
      <div class="l-works-detail-text">
        <%- include('./parts/project/_p-production-detail-text') %>
      </div>
      <section class="l-works-detail-other">
        <%- include('./parts/project/_p-production-detail-other') %>
      </section>
    </main>

    <!-- footer -->
  </body>
</html>
